{% extends 'base.html' %} 
{% load static %}
{% block title %}Aspire - Dashboard{% endblock %} 
{% block content %}

<nav
  class="navbar navbar-expand-lg navbar-light bg-white justify-content-center"
>
  <a class="navbar-brand main-heading" href="{% url 'view-home' %}"> &nbsp; Aspire </a>

</nav>
{% if messages %}
    {% for message in messages %}
    
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p id="message-timer" class="alert alert-success float-center text-center"><i class="fa-solid fa-check"></i> &nbsp; {{ message }} </p>
        {% endif %}
    {% endfor %}
{% endif %}    
<br /><br />
<div class="container bg-white shadow-md px-5 pb-3 pt-4 form-layout">
    <h5>Welcome {{ user }}</h5>
    <br />
    <p>This is your dashboard.</p>
    <br />
    <a href="{% url 'user-logout' %}" class="btn btn-info navbar-btn" type="button">Logout</a>
</div>
{% endblock %}

