{% extends 'base.html' %} 
{% load static %}
{% block title %}Aspire - Home{% endblock %} 
{% block content %}
<nav
  class="navbar navbar-expand-lg navbar-light bg-white justify-content-center"
  id="navbar-menu"
  >
  <a class="navbar-brand main-heading text-dark" href="{% url 'view-home' %}" id="navbar-site-name"> &nbsp; Aspire </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="btn btn-alert navbar-btn link-style text-dark" type="button" href="#" id="menu-register">Register</a>
      </li>

      <li class="nav-item">
        <a class="btn btn-alert navbar-btn link-style text-dark" id="menu-login" type="button" href="{% url 'login' %}">Login</a>
      </li>
      <!-- Light / Dark Toggle Button --> 
      <li class="nav-item">
        <span>
            <input type="checkbox" class="checkbox" id="checkbox">
            <label for="checkbox" class="checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="ball"></span>
            </label>
        </span>
      </li>
    </ul>
  </div>
</nav>
{% if messages %}
    {% for message in messages %}
    
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <p id="message-timer" class="alert alert-success float-center text-center"><i class="fa-solid fa-check"></i> &nbsp; {{ message }} </p>
        {% endif %}
    {% endfor %}
{% endif %}    
<body>
  <br />

  <br />

  <div class="text-center">
    <img id="logo-home" src="{% static 'images/logo/Aspire-normal-1.png' %}" alt="Aspire logo." />

    <br />
    <br />

    <h3>Aspire .... Get the job you always wanted!</h3>

    <br />

    <p>Ensure that your new job hunt is secure in all areas.</p>

    <br />

    <a class="btn btn-info" type="button" href="#">
      <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Make an account
    </a>
  </div>
</body>

<br />
<br />

<footer class="navbar navbar-expand-lg navbar-light bg-white justify-content-center" id="footer">
  <a class="btn btn-secondary" type="button" href="#">
    <i class="fa-solid fa-key"></i> Forgotten Your Password?
  </a>
</footer>
{% endblock %}